<div *ngIf="assinatura" class="row">
    <div class="col-md-12">
        <h2 *ngIf="assinatura._id">Detalhes da Assinatura</h2>
        <h2 *ngIf="!assinatura._id">Nova Assinatura</h2>
    </div>
</div>
<div *ngIf="assinatura" class="row">
    <form class="col-md-12">
        <div class="form-group">
            <label for="assinatura-data">Data</label>
            <input disabled class="form-control" id="assinatura-data" name="assinatura-data" [value]="data"/>
        </div>
        <div class="form-group">
            <label for="assinatura-produto">Produto</label>
            <select class="custom-select" id="assinatura-produto" name="assinatura-produto" [(ngModel)]="assinatura.produto">
                <option *ngFor="let produto of produtos" value="produto">{{produto.nome}}</option>
            </select>
        </div>
        <div *ngIf="assinatura.produto != null && assinatura.produto.nome != null" class="form-group">
            <label for="assinatura-moeda">Moeda: Valor</label>
            <select class="custom-select" id="assinatura-moeda" name="assinatura-moeda" [(ngModel)]="assinatura.moeda" (change)="setAssinaturaValor()">
                <option value="brl"> BRL: {{assinatura.produto.nome}}</option>
                <option value="usd"> USD: {{assinatura.produto.valor.usd}}</option>
                <option value="eur"> EUR: {{assinatura.produto.valor.eur}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="assinatura-empresa-gerencia">Empresa responsável</label>
            <select class="custom-select" id="assinatura-empresa-gerencia" name="assinatura-empresa-gerencia" [(ngModel)]="assinatura.empresa_gerencia">
                <option *ngFor="let empresa of empresas" value="empresa">CNPJ: {{empresa.cnpj}} Nome: {{empresa.nome}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="assinatura-empresa-paga">Empresa que paga</label>
            <select class="custom-select" id="assinatura-empresa-paga" name="assinatura-empresa-paga" [(ngModel)]="assinatura.empresa_paga">
                <option *ngFor="let empresa of empresas" value="empresa">CNPJ: {{empresa.cnpj}} Nome: {{empresa.nome}}</option>
            </select>
        </div>

        <button class="btn btn-success" *ngIf="!assinatura._id" (click)="createAssinatura(assinatura)">Salvar</button>
        <button class="btn btn-warning" *ngIf="assinatura._id" (click)="updateAssinatura(assinatura)">Editar</button>
        <button class="btn btn-danger" *ngIf="assinatura._id" (click)="deleteAssinatura(assinatura._id)">Deletar</button>
    </form>
</div>