<alert *ngIf="success" type="success">
  <strong>Sucesso!</strong> Nova empresa inserida com sucesso.
</alert>
<div *ngIf="empresa" class="row">
  <div class="col-md-12">
    <h2 *ngIf="empresa._id">Detalhes da Empresa</h2>
    <h2 *ngIf="!empresa._id">Nova Empresa</h2>
  </div>
</div>
<div *ngIf="empresa" class="row">
  <form #form="ngForm" ngNativeValidate class="col-md-12">
    <div class="form-group">
      <label for="empresa-nome">Nome</label>
      <input class="form-control" id="empresa-nome" name="empresa-nome" [(ngModel)]="empresa.nome" placeholder="Nome da empresa" required="required"/>
    </div>
    <div class="form-group">
      <label for="empresa-cnpj">CNPJ</label>
      <input class="form-control" id="empresa-cnpj" name="empresa-cnpj" [(ngModel)]="empresa.cnpj" placeholder="CNPJ da empresa" required="required"/>
    </div>
    <label>Classificação</label>
    <div class="form-group custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="assinante" name="assinante" [(ngModel)]="empresa.assinante">
      <label class="custom-control-label" for="assinante">assinante</label>
    </div>
    <div class="form-group custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="pagadora" name="pagadora" [(ngModel)]="empresa.pagadora">
      <label class="custom-control-label" for="pagadora">pagadora</label>
    </div>
    <button class="btn btn-success" *ngIf="!empresa._id" (click)="createEmpresa(empresa)" type="submit" [disabled]="!form.valid">Salvar</button>
    <button class="btn btn-warning" *ngIf="empresa._id" (click)="updateEmpresa(empresa)">Editar</button>
    <button class="btn btn-danger" *ngIf="empresa._id" (click)="deleteEmpresa(empresa._id)">Deletar</button>
  </form>
</div>