<div *ngIf="empresa" class="row">
  <div class="col-md-12">
    <h2 *ngIf="empresa._id">Detalhes da Empresa</h2>
    <h2 *ngIf="!empresa._id">Nova Empresa</h2>
  </div>
</div>
<div *ngIf="empresa" class="row">
  <form class="col-md-12">
    <div class="form-group">
      <label for="empresa-nome">Nome</label>
      <input class="form-control" name="empresa-nome" [(ngModel)]="empresa.nome" placeholder="Nome da empresa"/>
    </div>
    <div class="form-group">
      <label for="empresa-cnpj">CNPJ</label>
      <input class="form-control" name="empresa-cnpj" [(ngModel)]="empresa.cnpj" placeholder="CNPJ da empresa"/>
    </div>
    <button class="btn btn-primary" *ngIf="!empresa._id" (click)="createEmpresa(empresa)">Create</button>
    <button class="btn btn-info" *ngIf="empresa._id" (click)="updateEmpresa(empresa)">Update</button>
    <button class="btn btn-danger" *ngIf="empresa._id" (click)="deleteEmpresa(empresa._id)">Delete</button>
  </form>
</div>