<nav style="background-color: #415b9b!important" class="navbar navbar-light">
    <form class="form-inline">
        <a class="navbar-brand" routerLink="/">
            <img src="../assets/rd_station_logo.png" width="120" class="d-inline-block align-top" alt="">
        </a>
        <button routerLinkActive="active" routerLink="/" style="margin-right: 10px; min-width: 120px" class="btn btn-outline-light" type="button" [routerLinkActiveOptions]="{exact:true}">Home</button>
        <button routerLinkActive="active" routerLink="/empresas" style="margin-right: 10px; min-width: 120px" class="btn btn-outline-light" type="button">Empresas</button>
        <button routerLinkActive="active" routerLink="/produtos" style="margin-right: 10px; min-width: 120px" class="btn btn-outline-light" type="button">Produtos</button>
        <div class="btn-group" dropdown>
            <button routerLinkActive="active" dropdownToggle type="button" class="btn btn-outline-light dropdown-toggle">
                Assinaturas <span class="caret"></span>
            </button>
            <ul *dropdownMenu class="dropdown-menu" role="menu">
                <li role="menuitem"><a routerLinkActive="active" routerLink="/assinaturas" class="dropdown-item"> Todas - Nova Assinatura</a></li>
                <li class="divider dropdown-divider"></li>
                <h6 class="dropdown-header">Agrupadas por:</h6>
                <li role="menuitem"><a routerLinkActive="active" routerLink="/assinaturas-empresa-gerencia" class="dropdown-item">Empresa que gerencia</a></li>
                <li role="menuitem"><a routerLinkActive="active" routerLink="/assinaturas-empresa-paga" class="dropdown-item">Empresa que paga</a></li>
            </ul>
        </div>
    </form>
</nav>

<div class="container">
    <br><br>
    <router-outlet></router-outlet>
</div>