<div class="row">
    <div class="col-md-6">

        <button class="btn btn-primary" (click)="createNewProduto()">Novo Produto</button>

        <h2 style="margin-top: 20px">Produtos</h2>

        <div class="list-group">
            <h5>Clique no produto que deseja editar ou deletar</h5>
            <a type="button" class="list-group-item list-group-item-action"
                    *ngFor="let produto of produtos"
                    (click)="selectProduto(produto)"
                    [class.active]="produto === selectedProduto">
                Nome: {{produto.nome}}
            </a>
        </div>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <app-produto-details
                [produto]="selectedProduto"
                [createHandler]="addProduto"
                [updateHandler]="updateProduto"
                [deleteHandler]="deleteProduto">
        </app-produto-details>
    </div>
</div>