<div class="row">
  <div class="col-md-5">
    <h2>Produtos</h2>
    <ul class="list-group">
      <li class="list-group-item"
          *ngFor="let produto of produtos"
          (click)="selectProduto(produto)"
          [class.active]="produto === selectedProduto">
        {{produto.nome}}
      </li>
    </ul>
    <button class="btn btn-warning" (click)="createNewProduto()">New</button>
  </div>
  <div class="col-md-5 col-md-offset-2">
    <app-produto-details
            [produto]="selectedProduto"
            [createHandler]="addProduto"
            [updateHandler]="updateProduto"
            [deleteHandler]="deleteProduto">
    </app-produto-details>
  </div>
</div>