<div class="row">
    <div class="col-md-6">

        <button class="btn btn-primary" (click)="createNewEmpresa()">Nova Empresa</button>

        <h2 style="margin-top: 20px">Empresas</h2>

        <div class="list-group">
            <h5>Clique na empresa que deseja editar ou deletar</h5>
            <a href="#" type="button" class="list-group-item list-group-item-action"
                    *ngFor="let empresa of empresas"
                    (click)="selectEmpresa(empresa)"
                    [class.active]="empresa === selectedEmpresa">
                 Nome: {{empresa.nome}}
            </a>
        </div>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <app-empresa-details
                [empresa]="selectedEmpresa"
                [createHandler]="addEmpresa"
                [updateHandler]="updateEmpresa"
                [deleteHandler]="deleteEmpresa">
        </app-empresa-details>
    </div>
</div>