<div class="row">
  <div class="col-md-6">

    <h2 style="margin-top: 20px">Assinaturas</h2>

    <p>Assinaturas agrupadas por empresas que pagam</p>

    <div *ngFor="let empresa of empresasPagantes">
      <div class="list-group">
        <div class="list-group-item active">
          <b>Empresa:</b> {{empresa.nome}}
          <b>CNPJ:</b> {{empresa.cnpj}}
        </div>
        <div class="list-group-item" *ngFor="let assinatura of empresa.assinaturasPaga">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"><b>Produto:</b> {{assinatura.produto.nome}}</h5>
            <small><b>Data:</b> {{assinatura.data}}</small>
          </div>
          <small><b>Moeda:</b> {{assinatura.moeda}} <b>Valor:</b> {{assinatura.valor}}.00</small><br>
          <small><b>Empresa assinante:</b> {{assinatura.empresa_gerencia.nome}}</small><br>
          <small><b>Empresa pagadora:</b> {{assinatura.empresa_paga.nome}}</small>
        </div>
      </div><br>
    </div>
  </div>
</div>